
h3 Contributions Accepted in Other Projects
a(href='https://github.com/assaf/zombie/pull/399') zombie#399 - implement Node.contains
a(href='https://github.com/assaf/zombie/pull/434') zombie#434 - tests and codefixes for HTTP 301 case
br
a(href='https://github.com/visionmedia/jade/pull/794') jade#794 - fix 'rethrow' to work in RAILs
br
a(href='https://github.com/therabidbanana/tilt-jade/pull/5') tilt-jade#5 - fix tilt-jade to pass through error messages
br
a(href='https://github.com/yfinkelstein/node-zookeeper/pull/26') node-zookeeper#26 - v0.6.x (also, fixes in PR 27,28,29)
a(href='https://github.com/yfinkelstein/node-zookeeper/pull/31') node-zookeeper#31 - periodic segfault when using watchers
br
a(href='https://github.com/ddopson/node-memcache/commit/bfdb529487c489e497b3912efcff542aa96be91a') node-memcache - memcache client binary support
